/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import 'reset.css';

body {
  background: #f2f2f2;
  max-width: 1240px;
  min-width: 500px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.fixed {
  position: fixed;
}

.orange {
  background-color: #f50;
}

.frontHero-container {
  border-top: 4px solid #f50;
  background-image: image_url('frontHero.jpg');
  width: 100%;
  height: 450px; 
  margin: 0 auto;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontHero-content{
  min-width: 740px;
  font-size:36px;
  position: absolute;
  color: white;
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: interstate, sans-serif;
  
}

.frontHero-content p{
  font-size: 18px;
  text-align: center;
  width: 500px;
}

.frontHero-content h2{
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 100;
}

.main-container {
  position: relative;
  padding-top: 50px;
  background: white;
  height: 1000px;
}

.main-container h1 {
  font-size: 40px;
  text-align: center;
  padding: 15px 0px;
}
