/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import 'reset.css';

body {
  background: #f2f2f2;
  max-width: 1240px;
  min-width: 500px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

div:focus, button:focus {
  outline: none;
}

.fixed {
  position: fixed;
}

.orange {
  background-color: #f50;
}

.red {
  color: red;
}

.show {
  visibility: visible;
}

.flex {
  display: flex;
}

.frontHero-container {
  border-top: 4px solid #f50;
  background-image: image_url('frontHero.jpg');
  width: 100%;
  height: 450px; 
  margin: 0 auto;
  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frontHero-content{
  min-width: 740px;
  font-size:36px;
  position: absolute;
  color: white;
  padding-top: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: interstate, sans-serif;
  
}

.frontHero-content p{
  font-size: 18px;
  text-align: center;
  width: 500px;
}

.frontHero-content h2{
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 100;
}

.front-tracks {
  background: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-tracks h1 {
  font-size: 21px;
  text-align: center;
  padding: 15px 0px 5px 0px;
  letter-spacing: 0.04em;
}

.light-font {
  font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.main-font {
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
