footer {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    z-index: 10;
}

.player-section {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    z-index: 10;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece
}

.player-controls {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls button {
    width: 24px;
    height: 100%;
    margin: 0 0 0 12px;
    border: none;
    background: transparent;
    font-size: 12px;
}

.player-controls span {
    margin-left: 12px;
    color: black;
}

.player-progress {
    height: 1px;
    width: 350px;
    background-color: grey;
    margin-left: 12px;
}

.progress-bar {
    position: relative;
    height: 1px;
    width: 50%;
    background-color: #ff5500;
}

.progress-time {
    margin-left: 12px;
}
