footer {
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    z-index: 10;
}

.player-section {
    position: fixed;
    width: 100%;
    height: 48px;
    bottom: 0;
    z-index: 10;
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    transition: transform 200ms ease-out;
    transform: translateY(100%);
}

.player-show {
    transform: translateY(0);
}

.player-controls {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls button {
    width: 24px;
    height: 100%;
    margin: 0 0 0 12px;
    border: none;
    background: transparent;
    font-size: 13px;
    cursor: pointer;
}

.button-disabled {
    color: #ccc;
}

.player-controls span {
    margin-left: 12px;
    width: 37px;
    font-size: 12px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.player-time {
    color: #f50;
    text-align: right;
}

.player-progress {
    height: 1px;
    width: 350px;
    background-color: #ccc;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.progress-bar {
    position: relative;
    height: 1px;
    width: 50%;
    background-color: #f50;
}

.progress-bar-seek {
    position: absolute;
    width: 350px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.progress-bar-seek:hover + .progress-head {
    opacity: 1;
}

.progress-head {
    border: 1px solid #f50;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
    transition: opacity 150ms;
    margin-left: -4px;
}


.playhead-show {
    opacity: 1;
}

.volume {
    position: relative;
    display: flex;
    align-items: center;
}

.volume-bar {
    position: absolute;
    background-color: grey;
    height: 20px;
    width: 8px;
}