
.track-list {
  display: flex;
  flex-wrap: wrap;
}

.track-list-item {
  position: relative;
  margin: 20px;
}

.track-img {
  margin-bottom: 5px;
}

.track-list-title {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.track-list-item p{
  color: darkslategray;
  font-size: 17px;
}

.track-list-img img{
  width: 173px;
  height: 173px;
  background-image: linear-gradient(135deg,#846170,#70929c);
  object-fit: cover;
}

.track-list-item:hover > .play-button {
  opacity: 1;
}

.play-button {
  position: absolute;
  height: 56px;
  width: 56px;
  background-color: #f50;
  border-radius: 50%;
  top: 31%;
  left: 37%;
  cursor: pointer;
  transition: opacity .1s;
  opacity: 0;
  z-index: 9;
}

.play-button:hover {
  opacity: 1;
  background-color: rgb(255, 0, 0);
}

.play-button i {
  position: absolute;
  color: white;
  font-size: 23px;
  top: 28%;
  left: 33%;
}

.i-nudge {
  padding-left: 2px;
}