.upload-container {
    background: white;
    height: 600px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}

.up-form {
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 10px #f2f2f2;
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-form > * {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.up-form-file {
    border: 2px dotted lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dotted lightgrey;
    width: 600px;
    height: 100px;
}


.up-form-next {
    display: flex;
    padding-top: 30px;
    width: 100%;
    justify-content: space-between;
    height: 280px;
    visibility: hidden;
}

.up-form-next.visible {
    visibility: visible;
}

.hide {
    display: none;
}

.up-form-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.up-form-right > *{
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: normal;
}

.up-form-img {
    position: relative;
    width: 260px;
    height: 260px;
    background-image: linear-gradient(135deg,#846170,#70929c);
}

.up-form-img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.img-prev {
    background-image: none;
}


.up-form-img-button {
    position: absolute;
    bottom: 30px;
    left: 62px;
    cursor: pointer;
    background-color: rgba(255,255,255,.8);
    border: 1px solid rgba(0,0,0,0.5);
    transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
    border-radius: 3px;
    padding: 5px 0px;
}

.up-form-img-button:hover {
    background-color: white;
}

.up-form-img-button label {
    padding: 5px 10px;
    cursor: pointer;
}

.up-form-img-button i {
    margin-right: 5px;
}


.up-form-button {
    color: white;
    background-color: #f50;
    border-color: #f50;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
}

.up-form-button1 {
    padding: 5px 0px;
    color: white;
    background-color: #f50;
    border-color: #f50;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.up-form-button1 label {
    padding: 7px 20px;
    cursor: pointer;
}
