.profile-container {
    padding-top:50px;
    background-color: white;
    height: 800px;
    font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}


.profile-banner {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to bottom right, #f9f9f9, #000000);
    display: flex;
    align-items: flex-start;
}

.profile-name {
    color: #fff;
    font-weight: 100;
    font-size: 24px;
    line-height: 37px;
    padding: 4px 7px;
    background-color: rgba(0,0,0,.8);
    margin-top: 25px;
}

.profile-tabs {
    border-bottom: 1px solid lightgrey;
    font-size: 18px;
    padding: 12px 0px;
    margin: 0px 25px;
}

.profile-body {
    display: flex;
    margin: 0px 25px;
}

.profile-main {
    min-width: 860px;
    border-right: 1px solid lightgrey;
}

.profile-side {
}

/* profile tracks */

.profile-track-item {
    position: relative;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
}

.profile-track-img img {
    width: 160px;
    height: 160px;
    background-image: linear-gradient(135deg,#846170,#70929c);
    border: 1px solid rgb(200,200,200);
    object-fit: cover;
}

.profile-track-right {
    padding-left: 15px;
}

.profile-track-header {
    display: flex;

}

.profile-play-button {
    height: 36px;
    width: 36px;
    background-color: #f50;
    border-radius: 50%;
    top: 25px;
    cursor: pointer;
    transition: opacity .1s;
    /* opacity: 0; */
    z-index: 9;
}

.profile-play-button i {
    position: relative;
    color: white;
    font-size: 16px;
    top: 28%;
    left: 33%;
}

