<!DOCTYPE html>
<html>
  <head>
    <title>ReSoundCloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/686e5662f9.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
